.card
{
    border:2px solid black;
	font-size:15px;
	text-align:center;
	border-radius:15%;
	width:35%;
	align-items:left;
	
}
.border
{
    border:3px solid black;
    padding:2%;
	margin:2%;
	border-radius:3%;
	width:45%;
	display:flex;
	flex-wrap:nowrap;
	
}
img{
	width:35%;
	border:2px solid #ddd;
	border-radius:15%;
	margin-left:auto;
	margin-right:auto;
	
}
table,th,td
{
	border:1px solid black;
}
table
{
	border-collapse:collapse;
}
span {
  display: block;
}
div
{
	word-wrap: break-word;
}
h3,h4
{
	font-style:italic;
	font-size:30px;
}
.border1
{
    border:2px solid black;
	padding:1%;
	margin:1%;
	border-radius:3%;
	width:75%;
}